@font-face {
	font-family: 'Panton';
	src: url("vendor/fonts/Panton-Regular.eot");
	src: url("vendor/fonts/Panton-Regular.eot?#iefix") format('embedded-opentype'), url("vendor/fonts/Panton-Regular.woff") format('woff'), url("vendor/fonts/Panton-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Panton';
	src: url("vendor/fonts/Panton-SemiBold.eot");
	src: url("vendor/fonts/Panton-SemiBold.eot?#iefix") format('embedded-opentype'), url("vendor/fonts/Panton-SemiBold.woff") format('woff'), url("vendor/fonts/Panton-SemiBold.ttf") format('truetype');
	font-weight: bold;
	font-style: normal;
}
* {
	box-sizing: border-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}
:-ms-input-placeholder,
::-ms-input-placeholder,
::placeholder {
	color: #7FD1F9;
}
body {
	font-size: 14px;
	font-family: "Panton", sans-serif;
	color: #202020;
	font-weight: 400;
}
ol,
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #202020;
}
a:hover {
	text-decoration: none;
	color: #008FD5;
}
.wrapper {
	position: relative;
	overflow: hidden;
	z-index: 111;
}
.container {
	max-width: 1136px;
	margin: 0 auto;
	width: 100%;
}
.bold {
	font-weight: bold;
}
/* header */
.top_mobile_content, .header_top_menu ul li:last-child::after, .header_account_inner ul li:last-child::after {
	display: none;
}
.top_header_inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.top_center_inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 18px;
	padding-bottom: 18px;
}
.top_header_content {
	border-bottom: 1px solid #EDF0F3;
	padding-top: 16px;
	padding-bottom: 16px;
}
.header_top_menu ul, .header_account_inner ul {
	display: flex;
	flex-direction: row;
}
.header_top_menu ul li, .header_account_inner ul li {
	padding-right: 16px;
	margin-right: 16px;
	position: relative;
}
.header_account_inner ul li:last-child {
	padding-right: 0;
	margin-right: 0;
}
.header_top_menu ul li a {
	color: #999999;
}
.header_account_inner {
	position: relative;
}
.header_account_inner ul li a {
	color: #202020;
}
.header_account_inner ul li a:hover {
	color: #008FD5
}
.header_top_menu ul li a:hover {
	color: #008FD5
}
.header_top_menu ul li::after, .header_account_inner ul li::after {
  content: '';
  display: flex;
  height: 16px;
  width: 1px;
  background: #EDF0F3;
  position: absolute;
  right: 0;
  top: 3px;
}
.mobile_header {
	display: none;
}
.header_info_inner {
	display: flex;
	flex-direction: row;
}
.header_info {
	width: 220px;
	position: relative;
}
.header_info_2 {
	width: 160px;
}
.header_info a {
	display: flex;
	flex-direction: row;
}
.dropdown_menu_phone {
	top:53px!important;
	border: none;
	padding: 0;
}
.dropdown_menu_phone ul li a {
	padding: 16px;
	color: #000;
	display: flex;
}
.dropdown_menu_phone ul li a:hover {
	color: #008FD5;
}
.dropdown_menu_phone ul li {
	border-bottom: 1px solid #F7F8F9;
}
.header_info_desc p {
	margin-top: 0;
	margin-bottom: 0;
	color: #999999;
	font-size: 12px;
}
.header_bottom {
	background: #008FD5;
}
.bottom_header_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.header_menu_inner {
	width: 272px;
	position: relative;
}
.header_menu_inner button {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 24px;
	padding-right: 24px;
	font-size: 16px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	width: 100%;
	background: #039AE4;
}
.header_menu_inner button:hover {
	background: #0385c5;
}
.header_menu_inner button span {
	padding-left: 16px;
	padding-right: 16px;
}
.dropdown_login {
	top: 38px!important;
  left: auto!important;
  right: 0!important;
  border: none;
	padding: 0;
}
.dropdown_login_content {
	display: flex;
	flex-direction: column;
}
.dropdown_login_input {
	border-top: 1px solid #E5E5E5;
	padding: 8px 16px 16px 16px;
}
.dropdown_login_input input[type=text], .dropdown_login_input input[type=password] {
	border: none;
	border-bottom: 1px solid #E5E5E5;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-bottom: 8px;
	width: 100%;
	outline: none;
}
.dropdown_login_input input[type=text]:focus, .dropdown_login_input input[type=password]:focus {
	border-bottom: 1px solid #039AE4;
}
.dropdown_login_block {
	position: relative;
}
.dropdown_login_block a {
	position: absolute;
	right: 0;
	top: 16px;
	font-size: 12px;
	color: #039AE4;
}
.dropdown_login_input input[type=submit] {
	font-size: 14px;
	color: #FFFFFF;
	width: 100%;
	padding-top: 18px;
	padding-bottom: 18px;
	margin-top: 8px;
	margin-bottom: 16px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #039AE4;
	box-shadow: 0px 5px 10px rgba(3, 154, 228, 0.3);
}
.dropdown_login_input input[type=submit]:hover {
	background: #0385c5;
}
.dropdown_login_input input[type=text]::placeholder, .dropdown_login_input input[type=password]::placeholder {
	font-size: 14px;
	color: #999999;
}
.dropdown_reg {
	top: 38px!important;
  left: auto!important;
  right: 0!important;
  border: none;
  padding: 0;
}
.shadow::after {
	content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  top: 50px;
  z-index: 11;
}
.dropdown_login_content h3 {
	font-size: 14px;
	font-weight: normal;
	color: #202020;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 18px;
	padding-bottom: 18px;
	margin: 0;
	position: relative;
}
.dropdown_login_content h3::after {
	position: absolute;
	content: '';
	display: flex;
	height: 2px;
	width: 83px;
	background: #039AE4;
	bottom: 0;
	left: 16px;
}
.dropdown_login_content p {
	font-size: 12px;
	text-align: center;
	color: #202020;
	margin: 6px;
}
.dropdown_login_content p a {
	color: #039AE4;
	border-bottom: 1px solid rgba(3, 154, 228, 0.4);;
	padding-bottom: 4px;
}
.dropdown-pane {
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
.header_search {
	flex: 1;
}
.search_block {
	position: relative;
}
.search_block input[type=text] {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 56px;
	line-height: 24px;
	color: #fff;
	background: #008FD5;
	border: none;
	outline: none;
}
.search_block input[type=submit] {
	content: '';
	display: flex;
	position: absolute;
	left: 24px;
	width: 24px;
	height: 24px;
	top: 20px;
	background-image: url(img/loop.svg);
	background-repeat: no-repeat;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}
.search_block input[type=text]::placeholder {
	color: #7FD1F9;
}
.header_cart {
	width: 64px;
	height: 64px;
	background: #039AE4;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.header_cart:hover {
	background: #0385c5;
}
.header_cart span {
  background: #B2CE1F;
  border: 2px solid #039AE4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  font-size: 9px;
  color: #fff;
  position: absolute;
  top: 16px;
  right: 11px;
}
.catalog_menu {
	border: none;
	padding: 0;
	background: #fff;
	width: 100%;
	height: 524px;
	box-shadow: none!important;
}
.dropdown_menu_panel {
	border: none;
	padding: 0;
	width: 100%;
	box-shadow: none;
	position: absolute;
	z-index: 1;
}
.catalog_menu_inner > li > a {
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	position: relative;
	font-size: 14px;
	border-right: 1px solid #EDF0F3;
}
.catalog_menu_inner > li > a.hover {
	border-right: none;
}
.catalog_menu_under ul li a:hover {
	color: #008FD5;
}
.catalog_menu_inner > li > a::after {
	position: absolute;
	content: '';
	background-image: url(img/menu_right.svg);
	right: 16px;
	top: 24px;
	display: flex;
	width: 16px;
	height: 16px;
	margin-top: 0!important;
}
.catalog_menu_inner > li {
	border-bottom: 1px solid #EDF0F3;
	position: inherit!important;
}
.main_inner {
	background: #F7F8F9;
	position: relative;
}
.catalog_menu_content {
	border: none;
	top: 0;
}
.catalog_menu_block {
	width: 864px;
  position: absolute;
  height: 524px;
}
.catalog_menu_block ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 524px;
	padding: 24px;
	background: #fff;
}
.catalog_menu_block ul li {
	padding-bottom: 12px;
	width: 260px;
	background: #fff;
	line-height: 1.5;
}
.catalog_menu_block a {
	display: flex;
	width: 100%;
	padding: 0!important;
	font-size: 14px;
}
.catalog_menu_under {
  left: 272px!important;
  top: 0px!important;
  border: none;
  background: #fff;
  padding: 24px 26px;
  width: 864px!important;
	box-shadow: none!important;
}
.catalog_menu_title {
	padding-bottom: 15px!important;
}
.catalog_menu_title a {
	font-size: 16px;
	font-weight: bold;
	color: #202020;
}
.catalog_menu_title a:hover {
	color: #039AE4;
}
.catalog_menu_under > ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 476px;
}
.catalog_menu_under > ul > li {
	margin-bottom: 12px;
	width: 33.3333%;
	padding-right: 16px;
}
.catalog_menu_under > ul > li > a {
	font-size: 16px;
	font-weight: bold;
	color: #202020;
	margin-bottom: 8px;
	display: flex;
}
.catalog_menu_under > ul > li > ul > li {
	margin-bottom: 8px;
}
.catalog_menu_under > ul > li > ul > li > a {
	color: #5E5E5E;
	font-size: 14px;
}
/* banner */
.banner_left {
	width: 272px;
}
.banner_right {
	flex: 1;
	padding-left: 16px;
	padding-top: 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.banner_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.banner_big {
	width: 572px;
	height: 508px;
	padding-right: 2px;
}
.banner_big img {
	width: 100%;
	height: 100%;
}
.banner_small {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-left: 2px;
}
.banner_small_img {
	padding-bottom: 4px;
	height: 256px;
}
.banner_small_img img {
	width: 100%;
	height: 100%;
}
.dropdown_list ul li a:hover {
	background: #039AE4;
	color: #fff;
}
/* popular */
.container_row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -8px;
	margin-right: -8px;
}
.container_block {
	padding-left: 8px;
	padding-right: 8px;
	outline: none;
}
.popular_slider, .top_slider {
	height: 428px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 300ms;
	-webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  -webkit-touch-callout: auto;
  -khtml-user-select: auto;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.popular_slider.owl-carousel.owl-loaded, .top_slider.owl-carousel.owl-loaded {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 300ms;
}
.popular_slider .owl-nav, .top_slider .owl-nav {
	position: absolute;
	right: 0;
	top: -50px;
	display: flex;
	flex-direction: row;
}
.popular_slider .owl-nav button, .top_slider .owl-nav button {
	width: 40px;
	height: 40px;
	margin-right: 8px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	border-radius: 50%;
}
.popular_slider .owl-nav button:hover svg, .top_slider .owl-nav button:hover svg {
	fill: #039AE4;
}
.tovar_content {
	display: flex;
	flex-direction: column;
	background: #fff;
}
.tovar_top {
	display: flex;
	flex-direction: column;
	padding: 24px 24px 16px 24px;
	position: relative;
}
.tovar_top h3 {
	font-size: 14px;
	color: #202020;
	margin-top: 16px;
	margin-bottom: 12px;
	height: 63px;
}
.tovar_top h3:hover {
	color: #039AE4;
}
.alert {
	border-bottom: 1px solid #EC3939!important;
	color: #EC3939!important;
}
.tovar_bot {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px solid #F7F8F9;
}
.tovar_bot button {
	background-image: url(img/cart.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	width: 56px;
	height: 56px;
	background-color: #039AE4;
	box-shadow: 0px 5px 10px rgba(3, 154, 228, 0.3);
	position: relative;
}
.tovar_bot button.loading {
	background-image: none!important;
}
.tovar_bot button.added {
	background-image: url(img/added.png)!important;
	background-color: #B2CE1F;
}
.tovar_bot button.loading::after {
	position: absolute;
	content: '';
	height: 24px;
  width: 24px;
	top: 2px;
	left: 2px;
	background-image: none;
  color: rgba(255, 255, 255, 0.2);
  position: relative;
  display: inline-block;
  border: 5px solid;
  border-radius: 50%;
  border-right-color: #fff;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
	}
  100% {
    transform: rotate(360deg);
	}
}
.tovar_bot button:hover {
	background-color: #0385c5;
}
.tovar_cat {
	font-size: 12px;
	color: #039AE4;
}
.tovar_brend {
	font-size: 12px;
	color: #999999;
}
.tovar_img {
	height: 140px;
	display: flex;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 8px;
	margin-bottom: 24px;
}
.tovar_img_2 {
	height: 140px;
	display: flex;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.tovar_meta_procent {
	position: absolute;
	right: 16px;
	top: 16px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #B2CD1F;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 5px 10px rgba(242, 201, 76, 0.3);
}
.tovar_meta img {
	width: auto!important;
}
.tovar_meta_hit {
	position: absolute;
	right: 16px;
	top: 56px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #F2C94C;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 5px 10px rgba(242, 201, 76, 0.3);
}
.tovar_price {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.tovar_price span {
	font-size: 16px;
	color: #202020;
	padding: 16px 0 16px 24px;
	display: flex;
}
.price_delete {
	text-decoration-line: line-through;
	color: #999999!important;
}
.tovar_apteka {
	font-size: 12px;
	position: relative;
	text-align: left;
	color: #999;
	cursor: pointer;
	padding-bottom: 12px;
	border-bottom: 1px solid #F7F8F9;
}
.tovar_apteka.changed {
	color: #000!important;
	border-bottom: 1px solid #F7F8F9!important;
}
.tovar_apteka:hover {
	color: #039AE4;
}
.tovar_apteka::after {
	position: absolute;
	content: '';
	display: flex;
	width: 10px;
	height: 6px;
	right: 0;
	top: 5px;
	background-image: url(img/arrow_bottom.svg);
	background-repeat: no-repeat;
}
.dropdown_apteka {
	border: none!important;
	padding: 0;
	width: 225px;
}
.dropdown_apteka ul {
	display: flex;
	flex-direction: column;
}
.dropdown_apteka ul li {
	border-top: 1px solid #F7F8F9;
}
.dropdown_apteka ul li button {
	padding: 14px;
	font-size: 14px;
	color: #202020;
	display: flex;
	outline: none;
	width: 100%;
	cursor: pointer;
}
.dropdown_apteka ul li button:hover {
	background: #039AE4;
	color: #fff;
}
.slick-slide {
	outline: none;
}
.section {
	padding-bottom: 40px;
}
.section_title {
	position: relative;
}
.section_title h2 {
	margin: 0;
	font-size: 32px;
	color: #202020;
	padding-bottom: 16px;
}
/* footer */
.footer_wrap {
	background: #171B2E;
	color: #565C78;
}
.footer_inner {
	border-bottom: 1px solid #252A3F;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 20px;
	padding-bottom: 40px;
}
.footer_block {
	width: 25%;
}
.footer_block:first-child {
	width: 50%;
}
.submenu_title {
	font-size: 16px!important;
	color: #FFFFFF!important;
}
.footer_block ul li a {
	font-size: 14px;
	color: #565C78;
}
.footer_block:first-child ul {
	display: flex;
	flex-direction: column;
  max-height: 182px;
  flex-wrap: wrap;
}
.footer_block ul li {
	margin-top: 16px;
}
.footer_copyright_bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer_block .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
	width: 18px;
	height: 18px;
	background-image: url(img/footer_bottom.png);
	background-repeat: no-repeat;
	border: none;
	top: 24px;
}
.footer_block ul {
	display: flex;
	flex-direction: column;
}
.is-drilldown {
  min-height: 100%!important;
  max-width: 100%!important;
}
.mobile_menu_inner .drilldown a {
	display: flex;
	padding: 15px;
}
.mobile_menu_inner {
	padding: 0;
	border: none;
	width: 100%;
	box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.1);
}
.drilldown .is-drilldown-submenu-parent > a::after {
  background-image: url(img/drilldown_right.png);
  width: 16px;
  height: 16px;
  border: none;
  background-repeat: no-repeat;
}
.js-drilldown-back a {
  background-color: #F8F8F8;
}
.mobile_menu li:first-child > a {
  border-top: 1px solid #eee;
}
.mobile_menu li a {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #eee;
  outline: none;
  cursor: pointer;
}
.drilldown .js-drilldown-back > a::before {
  background-image: url(img/drilldown_left.png);
  width: 16px;
  height: 16px;
  border: none;
  background-repeat: no-repeat;
  margin-top: 3px;
}
@keyframes anim-effect-boris {
	0% {
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale3d(1.2, 1.2, 1);
	}
}
/* catalog */
.catalog_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.catalog_sidebar {
	width: 272px;
}
.catalog_content_top {
	background: #fff;
	padding: 20px 24px;
	margin-bottom: 16px;
}
.catalog_sort_inner {
	display: flex;
	justify-content: space-between;
}
.catalog_sort_right {
	display: flex;
	flex-direction: row;
}
.catalog_content {
	flex: 1;
	padding-left: 16px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.catalog_sort_left {
	display: flex;
	flex-direction: row;
}
.catalog_sort_left ul {
	display: flex;
	flex-direction: row;
}
.catalog_sort_left ul li {
	padding-right: 24px;
}
.catalog_sort_left ul li:last-child {
	padding-right: 0;
}
.catalog_sort_left ul li.active a {
	color: #039AE4;
}
.catalog_sort_left span {
	font-size: 14px;
	color: #202020;
	padding-right: 24px;
}
.catalog_sort_1 {
	padding-right: 6px;
}
.catalog_sort_1 svg, .catalog_sort_2 svg {
	fill: #fff;
}
.catalog_sort_1.active svg, .catalog_sort_2.active svg {
	fill: #039AE4;
}
.tovar_2_meta {
	position: relative;
}
.catalog_next button {
	color: #039AE4;
	cursor: pointer;
}
.catalog_next {
	position: relative;
}
.tovar_add_cart.added .tovar_add_cart_img {
	background-image: url(img/added.png)!important;
  background-color: #B2CE1F;
}
.tovar_add_cart.loading .tovar_add_cart_img::after {
	position: absolute;
	content: '';
	height: 24px;
  width: 24px;
	top: 2px;
	left: 2px;
	background-image: none;
  color: rgba(255, 255, 255, 0.2);
  position: relative;
  display: inline-block;
  border: 5px solid;
  border-radius: 50%;
  border-right-color: #fff;
  animation: rotate 1s linear infinite;
}
.catalog_sort_img {
	padding-right: 10px;
}
.page_content .container_block {
	width: 33.3333%;
	margin-bottom: 16px;
}
.breadcrumb {
	padding-top: 16px;
	padding-bottom: 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
.breadcrumb a {
	font-size: 14px;
	color: #202020;
	opacity: 0.99;
	position: relative;
	margin-right: 8px;
}
.breadcrumb a:hover {
	color: #039AE4;
}
.breadcrumb img {
	width: 16px;
	height: 16px;
	margin-right: 8px;
}
.catalog_banner {
	width: 100%;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 16px;
}
.catalog_banner_img {
	box-shadow: 0px 5px 10px rgba(3, 154, 228, 0.3);
}
.catalog_banner img {
	width: 100%;
}
.catalog_nav_pag ul {
	display: flex;
	flex-direction: row;
}
.catalog_nav_pag ul li a {
	padding: 16px;
	color: #039AE4;
}
.catalog_nav_pag ul li a:hover svg {
	fill: #039AE4;
}
.catalog_nav {
	display: flex;
	flex-direction: row;
	background: #fff;
	justify-content: space-between;
	align-items: center;
	padding: 16px 24px;
}
.page_content {
	padding-bottom: 64px;
}
.tovar_2_content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #fff;
}
.tovar_2_left {
	padding: 24px;
}
.container_2_block {
	border-bottom: 1px solid #F7F8F9;
}
.tovar_2_left {
	width: 182px;
}
.tovar_2_right {
	width: 272px;
	padding: 24px;
}
.tovar_2_right button {
	width: 100%;
}
.tovar_2_center {
	flex: 1;
	padding: 24px;
	border-right: 1px solid #F7F8F9;
}
.tovar_meta_2_procent {
	position: absolute;
  left: -10px;
  top: 30px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #F2C94C;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(242, 201, 76, 0.3);
}
.tovar_meta_2_hit {
	position: absolute;
  left: -10px;
  top: -10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #B2CD1F;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(242, 201, 76, 0.3);
}
.tovar_bonus_img {
	padding-right: 8px;
}
.tovar_2_price span {
	font-size: 16px;
	color: #202020;
}
.tovar_2_right_center {
	padding-top: 16px;
	padding-bottom: 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.tovar_bonus {
	display: flex;
	flex-direction: row;
}
.tovar_add_cart {
	display: flex;
	flex-direction: row;
	background: #039AE4;
	box-shadow: 0px 5px 10px rgba(3, 154, 228, 0.3);
	cursor: pointer;
}
.catalog_banner_2 {
	padding: 0;
	margin: 0;
}
.tovar_add_cart span {
	font-size: 14px;
	color: #FFFFFF;
	padding: 17px 23px;
}
.tovar_add_cart_img {
	background-image: url(img/cart.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-color: #039AE4;
  position: relative;
	border-right: 1px solid #30ADEA;
	padding: 12px;
}
.tovar_add_cart.added {
	background-color: #B2CE1F;
	box-shadow: 0px 5px 10px rgba(178, 206, 31, 0.3);
}
.tovar_add_cart.added .tovar_add_cart_img {
	border-right: 1px solid #C4E41B;
}
.tovar_add_cart.loading .tovar_add_cart_img {
	background-image: none!important;
}
.tovar_add_cart.added .tovar_add_cart_img {
	background-image: url(img/added.png)!important;
  background-color: #B2CE1F;
}
.tovar_add_cart.loading .tovar_add_cart_img::after {
	position: absolute;
	content: '';
	height: 24px;
  width: 24px;
	top: 2px;
	left: 2px;
	background-image: none;
  color: rgba(255, 255, 255, 0.2);
  position: relative;
  display: inline-block;
  border: 5px solid;
  border-radius: 50%;
  border-right-color: #fff;
  animation: rotate 1s linear infinite;
}
.tovar_2_center span, .tovar_2_center a h3 {
	font-size: 14px;
}
.catalog_tovar_inner {
	background: #fff;
}
/* catalog tovar */
.catalog_tovar_top {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-bottom: 1px solid #F7F8F9;
}
.catalog_tovar_img_inner {
	width: 35%;
	padding: 24px;
	border-right: 1px solid #F7F8F9;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.catalog_tovar_meta_hit {
	position: absolute;
  left: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #B2CD1F;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(242, 201, 76, 0.3);
}
.catalog_tovar_meta ul li span a {
	color: #039AE4;
}
.catalog_tovar_meta_procent {
	position: absolute;
  left: 16px;
  top: 56px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #F2C94C;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(242, 201, 76, 0.3);
}
.catalog_tovar_img_inner span {
	font-size: 12px;
	text-align: center;
	color: #999999;
	max-width: 300px;
}
.catalog_tovar_img {
	padding-bottom: 16px;
}
.catalog_tovar_name {
	width: 40%;
	padding: 24px;
	border-right: 1px solid #F7F8F9;
}
.catalog_tovar_name h1 {
	font-size: 24px;
	color: #202020;
	margin-top: 0;
	font-weight: normal;
}
.catalog_tovar_cart {
	width: 25%;
	padding: 24px;
}
.catalog_tovar_cart .tovar_add_cart {
	width: 100%;
}
.catalog_tovar_price span {
	font-size: 24px;
	color: #202020;
}
.catalog_tovar_price {
	display: flex;
	align-items: center;
	padding-top: 16px;
	padding-bottom: 16px;
}
.catalog_tovar_bonus {
	padding-top: 16px;
}
.catalog_tovar_cart .price_delete {
	font-size: 16px!important;
	text-decoration-line: line-through;
	color: #999999;
	padding-left: 16px;
}
.catalog_tovar_meta ul li {
	display: flex;
	flex-direction: row;
	margin-bottom: 8px;
}
.catalog_tovar_meta ul li span {
	width: 50%;
	font-size: 12px;
	line-height: 20px;
}
.catalog_tovar_meta ul li span:first-child {
	color: #999999;
}
.catalog_tovar_meta ul li span:last-child {
	color: #202020;
}
.catalog_tovar_dropdown .tovar_apteka {
	width: 100%;
}
.page_title {
	border-top: 1px solid #E5E5E5;
}
.tovar_tabs_scroll {
	border-bottom: 1px solid #F7F8F9;
}
.tovar_tabs_scroll ul {
	display: flex;
	flex-direction: row;
	padding-left: 40px;
	padding-right: 40px;
}
.tovar_tabs_scroll ul li {
	padding-right: 80px;
}
.tovar_tabs_scroll ul li a {
	padding-top: 22px;
	padding-bottom: 22px;
	display: flex;
	font-size: 16px;
	text-align: center;
	color: #404040;
}
.tovar_tabs_scroll ul li.active a {
	border-bottom: 2px solid #039AE4;
}
.catalog_tovar_dropdown {
	padding-top: 16px;
}
.hide_text {
	display: none;
}
#hide_text_toggle {
	color: #039AE4;
	cursor: pointer;
}
.tabs_content {
	padding: 40px;
	color: #202020;
	font-size: 14px;
}
.tabs_content h2 {
	margin-top: 0;
	font-size: 24px;
	font-weight: normal;
	color: #202020;
}
.tabs_content h3 {
	font-size: 18px;
	color: #202020;
	margin-bottom: 0;
}
.mobile_filter, .catalog_sort_mobile {
	display: none;
}
@media (min-width: 1060x) {
	.footer_block:first-child ul {
    display: flex!important;
	}
}
@media (max-width: 1200px) {
	.container {
		max-width: 1024px;
	}
	.tovar_top {
		padding: 16px;
	}
	.banner_big {
		width: 510px;
	}
}
@media (max-width: 1060px) {
	.container {
		max-width: 848px;
	}
	.catalog_menu_title a {
		font-size: 14px;
	}
	.mobile_filter {
		display: flex;
		color: #039AE4;
		align-items: center;
	}
	.catalog_menu_title {
    padding-bottom: 10px!important;
  }
	.catalog_content {
		padding: 0;
	}
	.catalog_menu_block ul li {
		padding-bottom: 10px;
	}
	.banner_big {
		width: 70%;
	}
	.banner_right {
		padding-left: 0;
	}
	.banner_left {
		display: none;
	}
	.header_menu_inner {
		width: 230px;
	}
	.header_menu_inner button {
		padding: 16px;
	}
	.header_cart {
		width: 56px;
		height: 56px;
	}
	.search_block input[type=text] {
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.search_block input[type=submit] {
		top: 16px;
	}
	.catalog_menu_block {
		width: 618px;
	}
	.catalog_menu_block ul li {
		width: 33.3333%;
	}
	.header_cart span {
		top: 11px;
		right: 9px;
	}
}
@media (max-width: 880px) {
	.container {
		max-width: 768px;
	}
	.container_2_row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-left: -8px;
    margin-right: -8px;
	}
	.container_2_block {
		width: 50%;
		padding-left: 8px;
    padding-right: 8px;
    outline: none;
		margin-bottom: 16px;
	}
	.tovar_2_left, .tovar_2_center, .tovar_2_right {
		width: 100%;
		padding: 16px;
	}
	.tovar_meta_2_hit {
		right: 3px;
    top: 43px;
		left: auto;
	}
	.tovar_meta_2_procent {
		right: 3px;
		top: -2px;
		left: auto;
	}
	.tovar_2_right {
		position: relative;
	}
	.tovar_2_right .dropdown_apteka {
		width: 100%;
		left: 0!important;
	}
	.tovar_img_2 {
		background-size: contain;
	}
	.catalog_banner_2 {
		padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
	}
	.header_top_menu ul li, .header_account_inner ul li {
		padding-right: 8px;
		margin-right: 8px;
	}
	.header_info {
		width: 180px;
	}
	.catalog_menu_block ul {
		padding: 16px;
	}
	.catalog_menu_block {
    width: 571px;
	}
	.catalog_menu_inner > li > a {
		padding: 16px;
	}
	.footer_block:first-child ul {
		max-height: 100%;
	}
	.footer_block:first-child {
		width: 33.3333%;
	}
	.footer_block {
		width: 33.3333%;
	}
	.catalog_nav_pag span {
		display: none;
	}
}
@media (max-width: 800px) {
	.container {
		max-width: 568px;
	}
	.page_content .container_block {
		width: 50%;
	}
	.catalog_nav {
		flex-direction: column;
		background: transparent;
		padding: 0;
	}
	.catalog_next {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fff;
		padding: 12px;
		width: 100%;
		margin-bottom: 8px;
	}
	.catalog_nav_pag {
		padding: 12px;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.catalog_nav_pag ul li a {
    color: #039AE4;
    display: flex;
		padding: 0;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
	}
	.catalog_nav_pag ul {
    justify-content: space-between;
    width: 100%;
	}
	.catalog_nav_pag_mobile {
		display: none;
	}
	.top_center_inner {
		padding: 4px 0;
	}
	.dropdown_menu_phone {
		top: 24px!important;
	}
	.banner_right {
		flex-direction: column;
		padding: 0;
	}
	.banner_big {
		width: 100%;
		height: auto;
		padding-bottom: 2px;
	}
	.banner_small {
		padding: 0;
		flex-direction: row;
		margin-left: -1px;
		margin-right: -1px;
		width: 100%;
	}
	.banner_small_img {
		height: auto;
		padding-left: 1px;
		padding-right: 1px;
		width: 50%;
	}
	.top_header_content, .logo, .header_info:first-child, .header_info_desc p, .header_menu_inner, .header_search {
		display: none;
	}
	.mobile_loop {
    display: flex;
    width: 48px;
    height: 48px;
    top: 0;
    background-image: url(img/mobile_loop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
	}
	.mobile_search_inner {
		left: 0!important;
		top: 82px!important;
		box-shadow: none!important;
		border: none;
		padding: 0;
		width: 100%;
	}
	.mobile_search_inner input {
		width: 100%;
		padding: 16px;
		border: none;
		outline: none;
	}
	.header_info_img {
		width: 24px;
		height: 24px;
	}
	.header_info {
		width: 50%;
	}
	.header_info_inner {
		width: 100%;
	}
	.header_bottom {
		background-color: #fff;
		border-top: 1px solid #F7F8F9;
		border-bottom: 1px solid #F7F8F9;
	}
	.mobile_burger {
		width: 48px;
		height: 48px;
		border-right: 1px solid #F7F8F9;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(img/burger.png);
		cursor: pointer;
	}
	.mobile_burger.hover {
		background-image: url(img/burger_close.png);
	}
	.header_bottom .container {
		max-width: 100%;
	}
	.mobile_logo {
		display: flex;
    align-items: center;
    padding-left: 8px;
	}
	.header_cart {
		width: 48px;
		height: 48px;
	}
	.bottom_header_inner {
		justify-content: space-between;
	}
	.mobile_header {
		display: flex;
		flex-direction: row;
		flex: 1;
		position: relative;
	}
	.banner .container {
		max-width: 100%;
	}
	.section {
		padding-top: 16px;
	}
	.section_title h2 {
		font-size: 20px;
	}
	.slider_arrow {
		top: 0;
	}
	.catalog_sort_left span {
		display: none;
	}
	.catalog_banner {
		display: none;
	}
}
@media (max-width: 620px) {
	.container {
		max-width: 420px;
	}
	.container_2_block {
		width: 100%;
	}
	.page_content .container_block {
		margin-bottom: 8px;
		padding-left: 4px;
		padding-right: 4px;
		width: 100%;
	}
	.section_title h2 {
		padding-left: 16px;
		padding-right: 16px;
	}
	.footer_copyright_bottom {
		padding: 16px;
	}
	.section {
		padding-top: 0;
		padding-bottom: 16px;
	}
	.tovar_img {
		background-size: contain;
	}
	.container_row {
		margin: 0;
	}
	.container_block {
		padding-left: 16px;
		padding-right: 16px;
	}
	.header_cart span {
		top: 8px;
    right: 6px;
	}
	.tovar_price span {
		padding: 16px 0 16px 16px;
	}
	.catalog_content_tovar .container_row {
		margin-left: -4px;
		margin-right: -4px;
	}
	.catalog_content_top {
		margin-bottom: 8px;
	}
	.dropdown_apteka {
		width: 100%;
		left: 0!important;
	}
	.footer_block {
		width: 100%;
		border-bottom: 1px solid #252A3F;
	}
	.footer_block:first-child {
		width: 100%;
	}
	.footer_block ul li a {
		display: flex;
		width: 100%;
		padding: 16px!important;
		border-top: 1px solid #252A3F;
	}
	.submenu_title {
		border-top: none!important;
	}
	.footer_wrap .container {
		max-width: 100%;
	}
	.footer_inner {
		padding: 0;
		border-bottom: none;
	}
	.footer_block ul li {
		margin: 0;
	}
	.footer_copyright_bottom {
		flex-direction: column;
	}
	.footer_copyright_bottom_block {
		padding-top: 8px;
	}
	.mobile_filter span, .catalog_sort_left span, .catalog_sort_right {
		display: none;
	}
	.catalog_content_top {
		padding: 20px;
		position: relative;
	}
	.page_title h1 {
		font-size: 20px;
		margin-top: 16px;
		margin-bottom: 8px;
	}
	.catalog_sort_left {
		display: none;
	}
}
@media (max-width: 460px) {
	.container {
		max-width: 100%;
	}
	.catalog_sort_mobile {
		display: flex;
	}
	.mobile_catalog_sort {
    border: none;
    padding: 0;
    left: 0!important;
    width: 100%;
	}
	.mobile_catalog_sort ul li {
		font-size: 14px;
		color: #202020;
		padding: 16px;
		border-bottom: 1px solid #EDF0F3;
	}
	.mobile_catalog_sort ul li:last-child {
		border-bottom: none;
	}
	.catalog_sort_mobile button {
		display: flex;
		flex-direction: row;
	}
	.catalog_content {
		padding-left: 16px;
		padding-right: 16px;
	}
	.breadcrumb_inner {
		flex-wrap: inherit;
		overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
		-ms-overflow-style: none;
	}
	.breadcrumb_inner::-webkit-scrollbar {
  	display: none;
	}
	.breadcrumb, .page_title {
		padding-left: 16px;
		padding-right: 16px;
	}
	.breadcrumb {
		width: 800px;
	}
}
